@font-face {
  font-family: "Rye";
  src: url(./Fonts/Rye/Rye-Regular.ttf);
}
* {
  font-family: Rye;
}
.Veg {
  color: green;
}

.Spicy {
  color: red;
}

li:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}
